* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thanh trượt */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#fc5c7d, #6a82fb);
    border-radius: 8px;
}

:root {
    --left-width: 25%;
    --menu_color: #fbe6e6;
    --main_color: #f9dbdb;
    --footer-color: #f9c6c5;
    --light_dark: rgba(0, 0, 0, 0.6);
    --none-active-color: #289595;
    --active-color: #012658;
    --header-height: 12%;
    --footer-height: 10%;
    --menu-hover: #afb9b9;
    --progress-bg-color: rgba(105, 105, 170, .2);
    --progress-color: #bcfcff;
    --light-gray: #767676;
}

.song_active {
    background-color: var(--menu-hover);
}

.t_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: var(--header-height);
}

#menu_btn {
    position: absolute;
    top: 30px;
    left: 24px;
}

#menu_btn>a {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.title {
    width: calc(var(--left-width));
    height: 100%;
    padding: 20px 0px 20px 60px;
    background: var(--menu_color);
}

.title a img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.title a {
    width: 50%;
    text-decoration: none;
    color: #551A8B;
}

.title a h1 {
    font-size: 1.5rem;
}

header nav {
    width: calc(100% - var(--left-width));
    height: 100%;
    padding: 0px 30px;
    background: var(--main_color);
}

header nav>div {
    width: 95%;
    height: 100%;
    margin: auto;
}

header nav ul {
    height: 100%;
}

header nav ul li {
    list-style-type: none;
    margin-right: 1rem;
    position: relative;
}

header nav ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--light_dark);
}

header nav ul li a span {
    position: absolute;
    width: 80%;
    height: 2.5px;
    background-color: violet;
    bottom: -5px;
    left: 10%;
}

header nav ul li a.active {
    color: #000;
}

header nav ul li a:hover {
    color: #000;
    transition: 1s linear;
}

header nav .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

header nav .user {
    color: var(--none-active-color);
    text-decoration: none;
}

header nav .user:hover {
    color: var(--active-color);
    transition: 0.5s linear;
}

.content {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--footer-height));
    align-items: unset;
}

.content .left_content {
    width: var(--left-width);
    height: 100%;
    background: var(--menu_color);
    z-index: 100;
}

.content .left_content .menu {
    height: 28%;
}

.content .left_content .menu a {
    display: block;
    padding: 12px 20px;
    font-size: 1rem;
    color: var(--light_dark);
    text-decoration: none;
}

.content .left_content .menu a.active,
.content .left_content .menu a:hover {
    color: #000;
    transition: .5s linear;
}

.content .left_content .menu a i {
    margin-right: 20px;
}

.content .left_content .menu_song {
    height: 72%;
    margin: 0 auto;
    overflow: auto;
}

.content .left_content .menu_song .menuSongItem {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px 0px 15px 16px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid var(--menu-hover);
    cursor: pointer;
    border-radius: 10px;
}

.content .left_content .menu_song .menuSongItem:first-child {
    border-top: 1px solid var(--menu-hover);
}

.content .left_content .menu_song .menuSongItem:hover {
    background-color: var(--menu-hover);
}

.content .left_content .menu_song .menuSongItem span {
    font-size: 12px;
    font-weight: bold;
    color: var(--light_dark);
    margin-right: 10px;
}

.content .left_content .menu_song .menuSongItem img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    border-radius: 4px;
}

.content .left_content .menu_song .menuSongItem img:hover {
    transform: skewX(5deg);
}

.content .left_content .menu_song .menuSongItem h5 {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .left_content .menu_song .menuSongItem h5 p.subtitle {
    font-size: 12px;
    color: var(--light_dark);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .left_content .menu_song .menuSongItem i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.content .left_content .menu_song .menuSongItem i:hover {
    color: white;
}

/* ===RIGHT_CONTENT=== */
.right_content::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 75%;
    top: 15%;
    right: 0;
    background: url('bg.png') no-repeat right top;
    background-size: 489px 467px;
    z-index: -1;
}

.right_content {
    width: calc(100% - var(--left-width));
    background: var(--main_color);
    overflow: auto;
    z-index: 2;
}

.right_content>div {
    width: 90%;
    margin: 0 auto;
}

.right_content .section {
    margin-top: 1rem;
}

.right_content .section:first-child {
    margin: 0px 0px 9px 0px;
}

.right_content .description h1 {
    font-size: 25px;
}

.right_content .description p {
    color: var(--light_dark);
}

.right_content .description h1,
.right_content .description p {
    font-weight: bold;
}

.right_content .description .buttons .button {
    margin: 10px 10px 0px 0px;
}

.button {
    -webkit-appearance: none;
    display: inline-block;
    height: 36px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #e052a0, #f15c41);
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    line-height: 36px;
    padding: 0 30px;
    font-size: 14px;
}

.button:hover {
    background: linear-gradient(to right, #3ec7e0, #526bf4);
    border-radius: 5px;
}

.right_content .popular_song .Tieu_de {
    justify-content: space-between;
}

.right_content .popular_song .Tieu_de .btn_song i {
    cursor: pointer;
    padding: 10px;
    color: var(--light_dark);
}

.right_content .popular_song .Tieu_de i:hover {
    color: rgba(0, 0, 0, 1);
}

.right_content .popular_song .pop_songs {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    align-items: flex-start;
    overflow: auto;
    scroll-behavior: smooth;
}

.right_content .popular_song .pop_songs::-webkit-scrollbar {
    display: none;
}

.right_content .popular_song .pop_songs .songItem {
    min-width: 150px;
    height: 140px;
    list-style-type: none;
    margin-right: 20px;
    transition: .3s linear;
}

.right_content .popular_song .pop_songs .songItem .img_play {
    position: relative;
    width: 150px;
    height: 150px;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.popular_song .pop_songs .songItem .img_play img {
    width: 100%;
    height: 100%;
}

.popular_song .pop_songs li .img_play i {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: white;
    opacity: 0;
}

.popular_song .pop_songs li .img_play i::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: -12px;
    top: -7px;
    box-shadow: inset 0px 0px 3px #fff
}

.popular_song .pop_songs li:hover .img_play i {
    opacity: 1;
}

.popular_song .pop_songs li:hover .img_play img {
    transform: scale(1.15);
    filter: brightness(80%);
}

.popular_song .pop_songs h5 {
    padding: 5px 0px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popular_song .pop_songs h5 .subtitle {
    color: var(--light_dark);
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new_song .songs {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    overflow: auto;
    scroll-behavior: smooth;
}

.new_song .songs::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.new_song .songs .song {
    display: flex;
    width: 306px;
    height: 150px;
    margin-right: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--menu-hover);
}

.new_song .songs .song .thumbnail {
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.new_song .songs .song .thumbnail img {
    width: 120px;
    height: 120px;
}

.new_song .songs .song .thumbnail:hover img {
    transform: scale(1.15);
    filter: brightness(80%);
}

.new_song .songs .song .thumbnail:hover i {
    opacity: 1;
}

.new_song .songs .song .thumbnail i {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: white;
    opacity: 0;
}

.new_song .songs .song .thumbnail i::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: -12px;
    top: -7px;
    box-shadow: inset 0px 0px 3px #fff
}

.new_song .songs .song .s_content {
    margin-left: 10px;
    width: 50%;
    height: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.new_song .songs .song .s_content .s_time {
    align-items: flex-end;
}

.new_song .songs .song .s_content .s_time p,
.new_song .songs .song .s_content .s_time h1 {
    margin-right: 1rem;
}

.f_artists .top {
    justify-content: space-between;
}

.f_artists .top .btn_song i {
    cursor: pointer;
    padding: 10px;
    color: var(--light_dark);
}

.f_artists .top .btn_song i:hover {
    color: #000;
}

.f_artists .artists {
    margin-top: 1rem;
    overflow: auto;
    scroll-behavior: smooth;
}

.f_artists .artists::-webkit-scrollbar {
    display: none;
}

.f_artists .artists .artist {
    margin: 6px 16px;
}

.f_artists .artists .artist .avatar_artist img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.f_artists .artists .artist .avatar_artist img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}

.f_artists .artists .artist .name {
    text-align: center;
    margin-top: 6px;
}


.slider>div {
    display: flex;
    margin: auto;
    overflow: auto;
    max-width: 840px;
}

.slider>div img {
    width: 100%;
}

.web_info>div {
    flex-direction: column;
    width: 100%;
}

.web_info>div>div>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.web_info>div>div>h4 {
    line-height: 2;
}

.web_info>div>div:nth-child(2) {
    width: 33%;
}

.web_info>div>div>a {
    line-height: 2;
    text-decoration: none;
    color: #000;
}

.web_info>div>div:last-child {
    width: 28%;
}

/* ============ */

/* footer */
@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 13px;
    }

    100% {
        height: 8px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
}

footer .music_play {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-color);
    box-shadow: 0px 3px 8px #090f1f;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
}

footer .music_play .music_left {
    width: 20%;
}

footer .music_play .music_left .wave {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    padding: 5px;
    margin-right: 1.5rem;
    justify-content: center;
    align-items: flex-end;
}

footer .music_play .wave .wave_line {
    width: 3px;
    height: 10px;
    background-color: #000;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .7s linear infinite;
}

footer .music_play .wave .wave_line:nth-child(2) {
    height: 13px;
    animation-delay: .4s;
}

footer .music_play .wave .wave_line:nth-child(3) {
    height: 8px;
    animation-delay: 8s;
    margin-right: 0px;
}

#poster_music {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 8s linear infinite;
}

.music_left .info_song {
    width: 10rem;
    margin-left: 1.5rem;
    overflow: hidden;
}

.music_left .info_song h5 {
    line-height: 1.6;
    animation: slide 5s linear infinite;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer .music_left .info_song .subtitle {
    font-size: 12px;
    color: var(--light_dark);
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer .music_play audio {
    width: 50%;
    outline: none;
}

audio::-webkit-media-controls-panel {
    background-color: var(--footer-color);
}