@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dark: #232836;
    --light-dark: rgba(0, 0, 0, 0.6);
    --blue: #0171d3;
    --dark-blue: #016dcb;
    --facebook_color: #4267b2;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

body {
    background-color: #f9dbdb;
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_container {
    height: 100vh;
    width: 40%;
    border-radius: 0 5% 5% 0;
    background-color: #fff;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    height: 100%;
    width: 40%;
    padding: 30px;
}

.sign_up,
.login {
    display: none;
}

.show {
    display: block;
}

header {
    font-size: 28px;
    font-weight: bold;
    color: #232836;
}

form {
    margin-top: 30px;
}

.form>a {
    position: absolute;
    top: 4%;
    left: 0;
    transform: translateX(-20px);
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #ccc;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--light-dark);
    cursor: pointer;
    padding-right: 5px;
}

.field button {
    color: #fff;
    background-color: var(--blue);
    transition: .3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: var(--dark-blue);
}

.form_link {
    text-align: center;
    margin-top: 10px;
}

.form_link span,
.form_link a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark);
}

.form a {
    color: var(--blue);
    text-transform: capitalize;
    text-decoration: none;
}

.form_content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #ccc;
}

.line:before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: var(--light-dark);
    padding: 0 15px;
}

a.facebook {
    color: #fff;
    background-color: var(--facebook_color);
}

a.facebook i,
.google img {
    position: absolute;
    left: 15px;
}

a.facebook i {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.google img {
    height: 35px;
    width: 35px;
    left: 10px;
    object-fit: cover;
}

a.google {
    border: 1px solid #ccc;
}

a.google span {
    font-weight: bold;
    opacity: .6;
    color: var(--dark);
}

.right_container {
    width: 60%;
    text-align: center;
}

.right_container img {
    width: 500px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: linear-gradient(#ee9ca7, #ffdde1);
    border-radius: 10px;
}

.modal>div {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.modal>div>i {
    position: absolute;
    font-size: 30px;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.modal>div>i:hover {
    color: #fff;
    transition: .5s;
}

.modal h1 {
    text-transform: capitalize;
    padding: 20px;
}

.check_icon {
    background-color: #31e1a5;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 30px 0px;
}

.check_icon i {
    font-size: 100px;
    line-height: 150px;
    color: #fff;
}

.modal input {
    border: none;
    background: linear-gradient(45deg, #FC5C7D, #6A82FB);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal input:hover {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
    color: white;
    transition: .5s;
}